{% extends "ebase.html" %}

{% load custom_tags %}

{% block content %}
    <div class="module">
        <table class="button-table">
            <tr>
                <td id="emu-cell" class="button-cell">
                    <img src="/static/Emu86/logo.svg" alt="Logo"
                     style="height:48px; width:auto; margin-right:5px; position:relative; top:-3px;">
                </td>
                <td id="button-cell1" class="button-cell">
                    {% comment %}
                    {% csrf_token %}
                    {% endcomment %}
                    <button name="clear"
                        class="action-button"
                        title="Clear the contents of memory and the stack."
                        id="clear-button"
                        onclick="clearButton()"
                        onmouseover="displayHelp(this.name)"
                        onmouseleave="hideHelp()">
                        <i class="fa-solid fa-rotate-left"></i> Reinit</button>
                </td>
                <td id="button-cell2" class="button-cell">
                    <button name="run"
                        class="action-button"
                        value="Run Code"
                        title="Execute all lines of code"
                        id="run-button"
                        onclick="runButton()"
                        onmouseover="displayHelp(this.name)"
                        onmouseleave="hideHelp()">
                        <i class="fa-solid fa-play"></i> Run</button>
                </td>
                <td id="button-cell3" class="button-cell">
                    <button name="step"
                        class="action-button"
                        value="Step Code"
                        title="Execute one instruction at a time."
                        id="step-button"
                        onclick="stepButton()"
                        onmouseover="displayHelp(this.name)"
                        onmouseleave="hideHelp()"
                        {% if vm.execution_finished %}disabled{% endif %}>
                        <i class="fa-solid fa-forward-step"></i> Step</button>
                </td>
                <td id="button-cell4" class="button-cell">
                    <button name="save"
                        class="action-button"
                        value="Save Code"
                        id="save-button"
                        title="Saves the code "
                        onclick="Savecode()"
                        onmouseover="displayHelp(this.name)"
                        onmouseleave="hideHelp()">
                        <i class="fa-solid fa-floppy-disk"></i> Save</button>
                </td>
                <td id="button-cell6" class="button-cell">
                    Flavor:
                    <select id="flavor-select" name="flavor-select" onchange="changeFlavor()">
                        {% for key, label in flavor_options.items %}
                            <option value="{{ key }}" {% if vm.flavor == key %}selected{% endif %}>{{ label }}</option>
                        {% endfor %}
                    </select>
                </td>
                <td id="button-cell7" class="button-cell">
                    <button name="toggle-base"
                        class="action-button"
                        type="button"
                        title="Base Toggle"
                        id="toggle-base-button"
                        onclick="toggleBase()"
                        onmouseover="displayHelp(this.name)"
                        onmouseleave="hideHelp()">
                        <i class="fa-solid fa-repeat"></i> {{ vm.base|capfirst }}</button>
                </td>
                
                <td id="select-cell" class="button-cell">
                    Load:
                    <select id="sample" name="sample" onchange="selectSample()">
                        {% for prog_nm, descr in sample_progs.items %}
                            {% option_maybe_selected prog_nm descr sample %}
                        {% endfor %}
                        {% if vm.flavor in more_samples %}
                            {% for prog_nm, descr in not_mips_risc_progs.items %}
                                {% option_maybe_selected prog_nm descr sample %}
                            {% endfor %}
                        {% endif %}
                        {% if vm.base == "dec" %}
                            {% if vm.flavor in has_fp_samples  %}
                                {% for prog_nm, descr in fp_sample_progs.items %}
                                    {% option_maybe_selected prog_nm descr sample %}
                                {% endfor %}
                            {% endif %}
                        {% endif %}
                    </select>
                </td>

            </tr>
        </table>
        <form id="codeForm" action="{% url 'Emu86:emu_page' slug=slug %}" method="post">
            <br>
            <input type="hidden" name="nxt_key">
            <input type="hidden" name="unwritable">
            {% if curr_reg != None %}
                <input type="hidden" name="curr_reg" value="{{ curr_reg }}">
            {% endif %}
           
            {% if vm.flavor %}
                <input type="hidden" name="flavor" value="{{ vm.flavor }}">
            {% else %}
                <input type="hidden" name="flavor">
            {% endif %}

            {% if vm.data_init == "on" %}
                <input type="hidden" name="data_init" value="on">
            {% else %}
                <input type="hidden" name="data_init" value="off">
            {% endif %}

            <input type="hidden" name="start_ip" value="{{ vm.start_ip }}" >
            <input type="hidden" name="bit_code" value="{{ bit_code }}" >
            <input type="hidden" name="button_type" value="{{ button_type }}" >
            <input type="hidden" name="execution_finished" value="{{ vm.execution_finished|default:'False' }}" >
            <input type="hidden" name="mem_data" value="">
            <input type="hidden" name="base" value="{{ vm.base }}">
            <input type="hidden" name="sample" value="{{ sample }}">
            <br>
            <table class="transparent-table">
                <tr>
                    <td class="code-cell" rowspan="8">
                        {% csrf_token %}
                        {{ form.as_p }}
                    </td>
                    <td id="register-cell" class="register-cell">
                        {% if vm.flavor in no_float_registers %}
                            <table id="register-table" class="transparent-table">
                                <tr>
                                    <th colspan="2">
                                        REGISTERS &amp; FLAGS
                                    </td>
                                </tr>
                                <!-- Improvement required! -->
                                <tr>
                                {% for reg, cont in vm.registers.items %}
                                    <!-- Case with more than 10 registers, apply special format -->
                                    {% if vm.registers|length > 10 %}
                                    <!-- Special handling for specific registers to control row/column alignment -->
                                        <!-- PC: force aligned new row after padding -->
                                        {% if reg == "PC" %}
                                            <td id="register"></td><td id="contents"></td></tr><tr class={{reg.0}}>
                                        {% else %}
                                            <!-- Break rows every 3 registers (Look like the format is removed already) -->
                                            {% if forloop.counter0|divisibleby:3 %}
                                                </tr> <tr class={{reg.0}}>
                                            {% endif %}
                                        {% endif %}
                                    <!-- Case with less registers, with a simple one-register-per-row layout-->
                                    {% else %}
                                        </tr> <tr class={{reg.0}}>
                                    {% endif %}

                                    <!-- Register name cell: unwritable registers get different styling -->
                                    {% if reg in vm.unwritable %}
                                        <td id="unwritable">
                                    {% else %}
                                        <td id="register">
                                    {% endif %}
                                        {{ reg }}
                                    </td>

                                    <td id="contents">

                                    {% if data_init == "on" %}
                                        <input
                                            {% if reg in vm.unwritable %}
                                                id="unwr-cont"
                                                readonly = "readonly"
                                            {% else %}
                                                id="reg-cont"
                                            {% endif %}
                                            value="{{ cont }}"
                                            name="{{ reg }}"
                                            size="10">
                                    {% else %}
                                        <input
                                            {% if reg in vm.unwritable %}
                                                id="unwr-cont"
                                            {% else %}
                                                id="reg-cont"
                                            {% endif %}
                                            value="{{ cont }}"
                                            name="{{ reg }}"
                                            size="10"
                                            readonly="readonly"
                                            {% if reg in vm.changes %}
                                                class="changed-register"
                                            {% else %}
                                                class="unchanged-register"
                                            {% endif %}
                                        onclick=convert(name,value)>
                                    {% endif %}
                                    </td>
                                {% endfor %}
                                </tr>
                                <tr>
                                    <table id="flags-table">
                                        <tr>
                                            {% for flag in vm.flags %}
                                                <td id="flag"
                                                    class="align-center">
                                                    {{ flag }}
                                                </td>
                                            {% endfor %}
                                        </tr>
                                        <tr>
                                            {% for flag, val in vm.flags.items %}
                                                <td id="contents"
                                                    class="align-center"
                                                >
                                                    <input
                                                        id="flag-cont"
                                                        value="{{ val }}"
                                                        name="{{ flag }}"
                                                        size="1"
                                                        readonly="readonly"
                                                    >
                                                </td>
                                            {% endfor %}
                                        </tr>
                                    </table>
                                </tr>
                            </table>
                        {% else %}
                            <!-- else there are F registers as well -->
                            <table id="registers-table">
                                <tr>
                                    <th colspan="2">
                                        REGISTERS &amp; FLAGS
                                    </td>
                                </tr>
                                {% for reg, cont in int_registers %}
                                <tr class="R">
                                    <td colspan="2">
                                        <div class="row-wrapper">
                                            <span class="label {% if reg in vm.unwritable %}unwritable{% endif %}">
                                                {{ reg }}
                                            </span>

                                            <span class="value">
                                                {% if data_init == "on" %}
                                                    <input
                                                        {% if reg in vm.unwritable %}
                                                            id="unwr-cont"
                                                            readonly="readonly"
                                                        {% else %}
                                                            id="reg-cont"
                                                        {% endif %}
                                                        value="{{ cont }}"
                                                        name="{{ reg }}"
                                                        size="10">
                                                {% else %}
                                                    <input
                                                        {% if reg in vm.unwritable %}
                                                            id="unwr-cont"
                                                        {% else %}
                                                            id="reg-cont"
                                                        {% endif %}
                                                        value="{{ cont }}"
                                                        name="{{ reg }}"
                                                        size="10"
                                                        readonly="readonly"
                                                        {% if reg in vm.changes %}
                                                            class="changed-register"
                                                        {% else %}
                                                            class="unchanged-register"
                                                        {% endif %}
                                                        onclick="convert(name,value)">
                                                {% endif %}
                                            </span>
                                        </div>
                                    </td>
                                </tr>
                                {% endfor %}
                                </tr>
                                <tr id="regs-expand-row">
                                    <td colspan="2">
                                        <div style="text-align: center; margin-top: 5px;">
                                            <button id="regs-expand-btn" class="action-button" type="button" onclick="toggleRegistersTable()" style="display: none; padding: 20px 40px; font-size: 20px;">
                                                Show More Registers
                                            </button>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <table id="flags-table">
                                        <tr>
                                            {% for flag in vm.flags %}
                                                <td id="flag"
                                                    class="align-center">
                                                    {{ flag }}
                                                </td>
                                            {% endfor %}
                                        </tr>
                                        <tr>
                                            {% for flag, val in vm.flags.items %}
                                                <td id="contents"
                                                    class="align-center"
                                                >
                                                    <input
                                                        id="flag-cont"
                                                        value="{{ val }}"
                                                        name="{{ flag }}"
                                                        size="1"
                                                        readonly="readonly"
                                                    >
                                                </td>
                                            {% endfor %}
                                        </tr>
                                    </table>
                                </tr>
                            </table>


                        {% endif %}
                    </td>

                </tr>

              </table>

            <hr>
            <br>
            Last Instruction Executed:
             <input type="text" name="last_instr" max_length="64"
                size="64" readonly="readonly" value="{{ last_instr }}" onload=highlightCode()>
            <br>
            <br>
            Error Message (if any):

            <input type="text" name="error" max_length="64"
                size="64" readonly="readonly" value="{{ error }}"
                id="error">
            <br>
            <br>
            <details>
                <summary class="MemStack">Memory Used</summary>
                <div class="table-wrapper">
                    <table id="memory-table">
                        {% for addr, cont in vm.memory.items %}
                            <script>
                                document.getElementsByName("mem_data")[0].value += "{{ addr }}:{{ cont }}, ";
                            </script>
                            <tr>
                                <td id="mem-loc">
                                    {{ addr }}
                                </td>
                                {% if "MEM"|add:addr in vm.changes %}
                                    <td id="contents" class="changed-memory-table">
                                {% else %}
                                    <td id="contents">
                                {% endif %}
                                    <input
                                        id="mem-cont"
                                        value="{{ cont }}"
                                        name="{{ addr }}"
                                        size="5"
                                        readonly="readonly"
                                        {% if "MEM"|add:addr in vm.changes %}
                                            class="changed-memory-table"
                                        {% else %}
                                            class="unchanged-memory-table"
                                        {% endif %}
                                    >
                                </td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>
            </details>

            <details>
                <summary class="MemStack">Stack</summary>
                <div class="table-wrapper">
                    <table id="stack-table">
                        {% for addr, cont in vm.stack.items %}
                            <tr>
                                <td id="mem-loc">
                                    {{ addr }}
                                </td>
                                {% if "STACK"|add:addr in vm.changes %}
                                    <td id="contents">
                                {% else %}
                                    <td id="contents">
                                {% endif %}
                                    {% if data_init == "on" %}
                                        <input
                                            id="mem-cont"
                                            value="{{ cont }}"
                                            name="{{ addr }}"
                                            size="5"
                                        >
                                    {% else %}
                                        <input
                                            id="mem-cont"
                                            value="{{ cont }}"
                                            name="{{ addr }}"
                                            size="5"
                                            readonly="readonly"
                                            {% if "STACK"|add:addr in vm.changes %}
                                                class="changed-stack"
                                            {% else %}
                                                class="unchanged-stack"
                                            {% endif %}
                                        >
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>
            </details>

            <details>
                <summary class="MemStack">C-Stack</summary>
                <div class="table-wrapper">
                    <table id="stack-table">
                        {% for label in vm.cstack reversed %}
                            <tr>
                                {% if vm.stack_change == label %}
                                    <td id="mem-loc">
                                        SP
                                    </td>
                                {% else %}
                                    <td id="mem-loc">
                                    </td>
                                {% endif %}
                                <td id="mem-cont">
                                    {{ label }}
                                </td>
                            </tr>
                        {% endfor %}
                        {% for sym, cont in vm.symbols.items reversed %}
                            <tr>
                                <td id="mem-loc">
                                </td>
                                <td id="mem-cont">
                                    {{ sym }}
                                </td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>
            </details>
        </form>
        <br>

        {% if "development" in header %}
            <br>
            Debug Information:
            <br>
            <textarea rows="12" cols="60" readonly="readonly">
                {{ vm.debug }}
            </textarea>
        {% endif %}
    </div>

    <script>
    var sampleProgDOM = document.getElementById('sample');
    var tmpAry = new Array();
    var selectedProgram = sampleProgDOM.value; // Save the selected program
    for (var i=0;i<sampleProgDOM.options.length;i++) {
        tmpAry[i] = new Array();
        tmpAry[i][0] = sampleProgDOM.options[i].text;
        tmpAry[i][1] = sampleProgDOM.options[i].value;
    }
    tmpAry.sort();
    while (sampleProgDOM.options.length > 0) {
        sampleProgDOM.options[0] = null;
    }
    for (var i=0;i<tmpAry.length;i++) {
        var op = new Option(tmpAry[i][0], tmpAry[i][1]);
        sampleProgDOM.options[i] = op;
    }
    sampleProgDOM.value = selectedProgram; // Restore the selected program
    if (document.getElementsByName("button_type")[0].value == "pause") {
        SubmitForm(true, true);
    }
    var elem = document.getElementById("viewReg");
    const flavor = document.getElementsByName('flavor')[0].value;
       
    window.addEventListener('DOMContentLoaded', (event) => {
        highlightCode();
    });
    // Turn the <textarea> into a CodeMirror editor
    const textarea = document.getElementById('id_code');
    // Global editor object
    window.editor = CodeMirror.fromTextArea(textarea, {
        lineNumbers: true,
        mode: 'gas',
        theme: 'monokai'
    });
    // Keep Django form data in sync
    window.editor.on('change', () => {
        textarea.value = window.editor.getValue();
    });
    // Helper function to update the code editor
    function setCode(newCode) {
        window.editor.setValue(newCode || '');
        textarea.value = window.editor.getValue();
        window.editor.refresh();
    }

        function toggleRegistersTable() {
        var registerRows = document.querySelectorAll("#registers-table tr.R");
        var btn = document.getElementById("regs-expand-btn");
        var isExpanded = btn.getAttribute("data-expanded") === "true";
        
        isExpanded = !isExpanded;
        btn.setAttribute("data-expanded", isExpanded);
        btn.innerHTML = isExpanded ? "Collapse" : "Show More Register";

        for (var i = 10; i < registerRows.length; i++) {
             registerRows[i].style.display = isExpanded ? "" : "none";
        }
    }

    document.addEventListener("DOMContentLoaded", function() {
        var registerRows = document.querySelectorAll("#registers-table tr.R");
        var btn = document.getElementById("regs-expand-btn");
        
        if (registerRows.length > 10) {
            for (var i = 10; i < registerRows.length; i++) {
                registerRows[i].style.display = "none";
            }
            btn.style.display = "inline-block";
        } else {
            btn.style.display = "none";
        }
    });
    </script>
                            
{% endblock content %}
