name: Run tests

on:
  push:
    branches: [master, main]
  pull_request:
    branches: [master, main]
  workflow_dispatch:

env:
  PYTHONPATH: /home/runner/work/Emu86/Emu86/

jobs:
  build:
    runs-on: ubuntu-latest

    environment: pa_deploy

    steps:
      - name: Set up Python 3.12
        uses: actions/setup-python@v4
        with:
          python-version: "3.12"
          architecture: "x64"

      - name: Display Python version
        run: python -c "import sys; print(sys.version)"

      - uses: actions/checkout@v2

      - name: Set up development environment.
        run: make dev_env

      - name: Run Python tests.
        run: make all_tests

      - name: Deploy to PythonAnywhere
        run: |
          chmod +x deploy.sh
          ./deploy.sh
        env:
          PA_USERNAME: ${{ secrets.PYTHONANYWHERE_USERNAME }}
          PA_PASSWORD: ${{ secrets.PYTHONANYWHERE_PASSWORD }}